@using MVC_Project.ViewModels
@model VerifyEmailViewModel

@{
    Layout = null;
}

<head>
    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/assets/css/mystyle.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet" />
</head>

<div class="account">
    <div class="account-container">
        <div class="account-box">
            <h2 class="text-center mb-4" style="color:var(--heading-font); font-size:40px;">Verify Email</h2>

            <form asp-action="VerifyEmail" asp-controller="SignUp_Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <input type="submit" value="Submit" class="btn btn-success w-100 p-2" />

                <div class="text-center mt-2">
                    <a href="/Home/index" class="text-decoration-none">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
