<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<!-- Authentication configuration -->
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" timeout="30" />
		</authentication>

		<!-- Session State configuration -->
		<sessionState mode="InProc" cookieless="false" timeout="20" />
	</system.web>
</configuration>