@{
    ViewData["Title"] = "Feedback was successfully made";
}
<style>
    .main {
        min-height: 80vh;
    }
</style>
<section class="section">
    <div class="container">
        <h2>Thank you!</h2>
        <p>Thank you for your trust !</p>
    </div>
</section>

