@model MVC_Project.ViewModels.ProgressViewModel

<style>
    .main {
        min-height: 80vh;
    }
</style>

<section id="appointment" class="appointment section">
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Feedback</h2>
    </div>

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <form asp-action="DocFeedback" asp-controller="ProgressTracking" method="post">

            <div class="row">
                <div class="col-md-4 form-group mt-3">
                    <input asp-for="Date" id="date" type="datetime-local" class="form-control" required step="3600" />
                </div>

                <div class="col-md-4 form-group mt-3">
                    <select asp-for="MoodRating" class="form-select" asp-items="ViewBag.MoodRatings" required>
                        <option value="">Select Mood Rating</option>
                    </select>
                </div>

                <div class="col-md-4 form-group mt-3">
                    <select asp-for="UserID" class="form-select" asp-items="ViewBag.Users" required>
                        <option value="">Select User</option>
                    </select>
                </div>
            </div>

            <div class="form-group mt-3">
                <textarea asp-for="ProgressNotes" class="form-control" rows="5" placeholder="Progress Notes (Optional)"></textarea>
            </div>

            <div class="form-group mt-3">
                <textarea asp-for="Goals" class="form-control" rows="5" placeholder="Goals (Optional)"></textarea>
            </div>

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary px-4">Make Feedback</button>
            </div>
        </form>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var dateInput = document.getElementById("date");

        function setMinDateTime() {
            var now = new Date();
            now.setMinutes(0);
            now.setSeconds(0);
            now.setMilliseconds(0);

            var localDatetime = now.toISOString().slice(0, 16);
            dateInput.min = localDatetime;
        }

        setMinDateTime();
    });
</script>
