@{
    ViewData["Title"] = "Session Booked";
}
<style>
    .main {
        min-height: 80vh;
    }
</style>
<section class="section">
    <div class="container">
        <h2>Thank you!</h2>
        <p>Your therapy session has been booked successfully!</p>
    </div>
</section>

