<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        min-height: 100vh;
        background: #f0faff;
    }

        .signup form {
        width: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #1977ccb3;
        border-radius: 10px;
        gap: 20px;
        padding: 20px;
        margin: 0 auto;
     }
 
    .form header {
        padding: 20px;
        font-size: 30px;
        text-align: center;
        color: #1977cc;
        font-weight: 600;
        cursor: pointer;
    }

    .form.login header {
        color: #333;
        opacity: 0.6;
    }


    form input {
        height: 60px;
        width: 300px;
        outline: none;
        border: none;
        padding: 0 15px;
        font-size: 16px;
        font-weight: 400;
        color: black;
        border-radius: 8px;
        background: #fff;
    }

    .form.signup input {
        border: 1px solid #aaa;

    }

    .form.signup input:first-child {
			margin-top: 30px;
    }

    .form.signup input:focus {
        box-shadow: 0 1px 0 #ddd;
     }

    .checkbox input[type="checkbox"] {
        height: 16px;
        width: 16px;
        accent-color: #fff;
        cursor: pointer;
    }

    form .checkbox label {
        cursor: pointer;
        color: #fff;
    }

    form a {
        color: #4070f4 !important;
        text-decoration: none;
    }

     form a:hover {
            text-decoration: underline;
        }

    form input[type="submit"] {
		border: none !important;
        background-color: #1977cc;
        color: white;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 500;
		transition: all 0.3s ease;
    }

    form input[type="submit"]:hover {
            background-color: #2c4964c9;
            width:100px;
            
    }

</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
</head>

<body>
    <section class="wrapper">
        <div class="form signup">
            <header>Signup</header>
            <form action="#" method="post">
                <input type="text" placeholder="Full name" required />
                <input type="text" placeholder="Email address" required />
                <input type="password" placeholder="Password" required />
                <div class="checkbox">
                    <input type="checkbox" id="signupCheck" />
                    <label for="signupCheck">I accept all terms & conditions</label>
                </div>
                <input type="submit" value="Signup" />
                <p style="text-align: center; color: white;">
                    Already have an account? <a href="/home/login" style="color: #fff; text-decoration: underline;">Login</a>
                </p>
            </form>
        </div>
    </section>
</body>
</html>
